.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

ul.navBar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    border-bottom: 10px solid #2dE360;
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #2DE360;
}

.logoImg {
    margin-left: 28%;
    width: 30px;
    height: 30px;
}

/* below are link details that remove underscore */
a:link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    background: #2DE360;;
    border: 5px solid #2DE360;;
    color: #fff;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #6cf0c2;
    border: 5px solid #6cf0c2;
}

/* salad image */
.homeImg {
    width: 100%;
    height: 655px;

    background: url('./images/salad.jpeg');
    background-repeat: no-repeat;  /*prevents image repeat*/
    background-size: 120%; /*clarifies size*/
    background-position: 0px 50px
}

/* Submit button */
.button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 34px 24px;
    gap: 10px;
    justify-content: center;
    position: absolute;
    width: 27px;
    height: 10px;
    left: 225px; /* affects x position*/
    top: 450px; /* affects y position */
}

.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 20px;
}

.home-title {
    /* Meal prep made easy */
    
    position: absolute;
    width: 1200px;
    height: 180px;
    left: 80px;
    top: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 133px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);    
}

.home-subtitle {
    /* 20 thousand recipes curated to your diet and budget */
    
    
    position: absolute;
    width: 1287px;
    height: 77px;
    left: 80px;
    top: 375px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 61px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}