.first{
    /* First, */


position: absolute;
width: 170px;
height: 110px;
left: 300px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 85px;

color: #2DE360;
}
.head{
    /* let’s see what you’re working with. */


position: absolute;
width: 1200px;
height: 201px;
left: 420px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 85px;

color: #000000;
}
.body{
    /* My budget is __________ for ______________. */


position: absolute;
left: 30%;
right: 25%;
top: 40%;
bottom: 0%;
text-align: center;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 85px;

color: #9D9D9D
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid #9D9D9D;
    background: transparent;
    /* changes input color to transparent */
    outline:none;
    padding: 8px 2px;
    width: 250px;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font size affects length of underscore ___*/
    font-size: 50px;
    line-height: 85px;
    color: #9D9D9D
  }

  /* allows modification of placeholder */
::placeholder {
    color: #9D9D9D;
    opacity: 1;
}
.background{
    /* Rectangle 2 */


    position: flex;
    background-size: 100%;
    width: 100%;
    height: 100%;
    left: -31px;
    top: -24px;

    background: #F8F8F8;
  }